# All exclusions that are specific to the NPM, GIT, IDE and Operating Systems.

# Do not allow installed node modules to be committed. Doing `npm install -d` will bring them in root or other places.
node_modules

# Do not commit any log file from anywhere
*.log
*.log.*

# Prevent addition of OS specific file explorer files
Thumbs.db
.DS_Store

# Prevent IDE stuff
.idea
.vscode

# Prevent config and test files from being added
.git*
npm/
test/
assets/
example/
.snyk
.eslintrc.js
.eslintignore
.nycrc.js
.editorconfig
.jsdoc-config.json
_config.yml
